/* * {
    border: 1px solid yellow;
} */

.hero-section {
    position: relative;
    background-image: url("./heroImg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: left;
    align-items: center;
    color: white;
    z-index: -1;
    margin-top: 5vw;
    padding-top: 4vw;
    padding-bottom: 4vw;
    padding-left: 10vw;
    /* border: solid yellow; */
    box-sizing: border-box;

}
.main-container {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:flex-start;
    text-align: left;
    box-sizing: border-box;

}
.route {
    font-size: 1vw;
}
.title {
    font-size: 2em;
    font-weight: bolder;
    margin-top: 0;
    margin-bottom: 0;
}
.subtitle {
    margin-top: 0;
    font-size: 1.5vw;
}

.contact-card {
    background: linear-gradient(to right, #1882FF, #36EBCA); 
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid yellow; */
    right: 4vw;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    z-index: 10;
    position: absolute;
    margin-top: -5vw;
    box-sizing: border-box;
}
.contact-card-container {
    background-color: white;
    color: black;
    padding: 1vw 3vw 1vw 3vw;
    width: 28vw;
    border: 0;
    /* border: 1px solid red; */
    margin-top: 4px;
    box-sizing: border-box;
}
.contact-title {
    font-size: 0.8vw;
    font-weight: bold;
    margin-bottom: 0;
    
}
.contact-number {
    color: #00215B;
    font-weight: bolder;
    margin-bottom: 0;
    letter-spacing: 1px;
}
.contact-email {
    color: #00215B;
    font-weight: bolder;
    margin-top: 0;
    letter-spacing: 1px;
}



@media screen and (max-width: 768px) {
    
    .hero-section {
        justify-content: center;
        padding-left: 0;
    }
    .main-container{
        width: 90%;
        text-align: center;
        align-items:center;
    }
    .route {
        font-size: 10px;
    }
    .subtitle {
        font-size: 15px;
    }
    .description {
        text-align:center;
        font-size: 12px;
    }
    .contact-card-container{
        width: 250px;
    }
    .contact-title {
        font-size: 10px;
    }
    .contact-number {
        font-size: 14px;
    }
    .contact-email {
        font-size: 14px;
    }
    
    
  }